DB_HOST=dbsedesfarmacia.cwpqqgyw6815.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=FLDcmdfrty111###
DB_NAME=sedes_farmacia
DB_PORT=3306

PORT=3000
JWT_SECRET=tu_secreto_jwt
OUTLOOK_USER=nicolastocoyucra@gmail.com
OUTLOOK_PASSWORD=gvay oapz ijtu iuxq
